@import url('https://fonts.googleapis.com/css?family=Monoton|Ubuntu|Gudea:700');


/* COLOR PALETTE */

/* https://coolors.co/36151e-839791-593f62-e3b23c-edebd7 */

:root {
    --primaryDark: black;
    --primaryLight: #EDEBD7;
    --accent: rgb(252, 165, 179);
    --alternate: #593F62;
    --addedPadding: 10px;
}

html,
body,
h1,
p {
    margin: 0;
}
.mdl-navigation__link1, .mdl-navigation__link2, .mdl-navigation__link3, .mdl-navigation__link4{
    font-size: 23px;
    font-family: 'Monoton', cursive;
    color: hotpink;
    margin-left: 2%;
    text-decoration: none;
    animation-delay: 25s;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
     -ms-animation: fadein 5s; /* Internet Explorer */
      -o-animation: fadein 5s; /* Opera < 12.1 */
         animation: fadein 5s;
}

.linky{
color:white;
}

.mdl-layout-title {
    font-size: 36px;
    font-family: 'Monoton', cursive;
    color: pink; 
    text-decoration: none; 
    animation-delay: 20s;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
     -ms-animation: fadein 5s; /* Internet Explorer */
      -o-animation: fadein 5s; /* Opera < 12.1 */
         animation: fadein 5s;
} 
footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: linear-gradient(transparent, black);
   text-align: center;
}
body {
    background: linear-gradient(black, rgb(102, 64, 70)) no-repeat center center fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    height: 100%; 
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
     -ms-animation: fadein 5s; /* Internet Explorer */
      -o-animation: fadein 5s; /* Opera < 12.1 */
         animation: fadein 5s;
}

h1{
    font-family: 'Monoton', cursive;

}

label,
#submitButton {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

input,
.allMessages {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 45px;
    color: var(--accent);
    text-align: center;
}
.requestDiv {
    margin: 20px 0 40px 0;
    display: flex;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    border: 3px solid var(--accent);
    color: white;
    background-color: black;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s; /* Firefox < 16 */
     -ms-animation: fadein 5s; /* Internet Explorer */
      -o-animation: fadein 5s; /* Opera < 12.1 */
         animation: fadein 5s;
}

.allMessages {
    flex: 1;
    margin-top: 15px;
    width: calc(40% + var(--addedPadding)*2);
    padding: var(--addedPadding);
    border: 2px solid var(--accent);
    background-color: var(--primaryLight);
    color: var(--alternate);
    overflow-y: scroll;
    overflow-wrap: break-word;
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 5px;
}

.allMessages>p {
    text-indent: -2em;
    margin-left: 2em;
}

.userContainer {
    margin: -10px 0 40px 0;
    width: 50%;
    border: 7px solid var(--accent);
    background-color: var(--primaryLight);
}


label {
    font-size: 1.3em;
    color: var(--primaryDark);
}

input {
    color: var(--alternate);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;;
    background: none;
    border: unset;
    border-bottom: var(--alternate) 2px solid;
    width: 95%;
}


input:focus {
    outline: none;
}

.userContainer {
    padding: var(--addedPadding);
}

form,
.inputContainer,
.singleInput {
    display: grid;
    grid-gap: var(--addedPadding);
    
}

form {
    grid-template: auto/1fr auto;
}

.inputContainer {
    grid-template: auto auto/auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: -6px;

}
.buttons{
    margin-bottom: -10px;
}
.singleInput {
    grid-template: auto/auto 1fr;
}
#giveORwant{
    margin-left: 20px;
    text-align: center;
    font-size: 25px;
    width: 40%;
    padding: 4px;
    background-color:rgba(0, 0, 0, 0.05);
    color: black;
    font-family: 'Ubuntu', sans-serif;
    border: unset;
    font-weight: bold;


}

#request{
    font-size: 16px;
    width: 85%;
    background-color:transparent;
    color: var(--alternate);
    font-family: Arial, Helvetica, sans-serif;
    border: unset;
    border-bottom: var(--alternate) 2px solid;


}
.center_content{
    display: flex;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* margin-top: 50%; */
}

.submitButton {
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 16px;
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.submitButton4 {
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    font-style: bold; 
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 50%;

}

.submitButton3 {
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    font-style: bold; 
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 9px;
    padding-bottom: 9px;

}

#postButton {
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: bold; 
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 0px;


}

#seeButton {
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 16px;
    font-family:'Ubuntu', sans-serif;
    font-style: bold; 
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 9px;
    padding-bottom: 9px;

}

#submitButton1{
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16px;
    outline: 30px;
    outline-color: black;
}

#submitButton1:hover {
    background-color: var(--primaryDark);
    color: var(--accent);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submitButton1:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}

#postButton:hover {
    background-color: var(--primaryDark);
    color: var(--accent);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#postButton:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}

#seeButton:hover {
    background-color: var(--primaryDark);
    color: var(--accent);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#seeButton:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}



#submitButton3:hover {
    background-color: var(--primaryDark);
    color: var(--accent);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submitButton3:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}

#submitButton:hover {
    background-color: var(--primaryDark);
    color: var(--accent);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submitButton:focus {
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}

#returnhome{
    font-family: 'Ubuntu', sans-serif;
    color: var(--accent);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#otherDonate{
    color: var(--primaryDark);
    background-color: var(--accent);
    font-size: 16px;
    transition: color 300ms ease-in, background-color 300ms ease-in;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 325px; 
}
#otherDonate{
    font-family:'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
    outline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300%;
    height: 35px;
    padding-left:64px;
    padding-right:72px;
    align-content: center;
    outline-color: black;
    margin-left: 3px;

}
#otherDonate:hover{
    background-color: var(--primaryDark);
    color: var(--accent);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 
#otherDonate:focus{
    outline-style: none;
    outline-width: 2px;
    outline-color: var(--primarydark);
}
.dressForSchool{
    display: inline-block; 
    float: left; 
    width: 300px; 
    color: white; 
    font-size: 18px;
    font-family: "Ubuntu", cursive;  
}
.clothingPickup{
    display: inline-block; 
    float: left;
    width: 300px; 
    color: white; 
    margin-left: 0px; 
    font-family: "Ubuntu", cursive; 
}
.theBlueJeans{
    display: inline-block; 
    float: left;
    width: 300px; 
    color: white; 
    margin-left: 10px;
    font-family: "Ubuntu", cursive; 
}
.salvationArmy{ 
    display: inline-block; 
    float: left; 
    width: 300px;
    color: white; 
    margin-left: 10px;
    font-family: "Ubuntu", cursive; 
}

.titleDress{ 
    display: inline-block; 
    float: left;
    width: 300px; 
    color: white; 
    margin-left: 30px;
    font-family: "Ubuntu", cursive; 
    font-size: 20px;
}
.titleClothing{
    display: inline-block; 
    float: left;
    width: 300px; 
    color: white; 
    margin-left: 30px;
    font-family: "Ubuntu", cursive; 
    font-size: 20px;
}
.titleBlueJeans{
    display: inline-block; 
    float: left;
    width: 300px; 
    color: white; 
    margin-left: 30px;
    font-family: "Ubuntu", cursive; 
    font-size: 20px;
}
.titleSalvation{
    color: white; 
    font-family: "Ubuntu", cursive; 
    font-size: 20px;
}